@import './reset';
@import './variables';


html {
  font-size: 10px;
}

body {
  background: $bg_color;
}


.TodoTemplate {
  width: 40rem;
  border-radius: 5px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  
  .app-title {
    background: $title_color;
    color: white;
    height: 6rem;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    background-color: $todo_color;
  }
}