.home {
  width: 30rem;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  line-height: 2;
  font-family: 'Noto Sans KR';
  background: #ffd571;
  border-radius: 15px;

  padding: 2rem;
}